.fileupload {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

h1 {

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}
h3 {

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  

}h5 {

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: red;
}

#pe
{
  
  text-align: center;

}

.custom-datepicker {
  border: 2px solid #ced4da;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.custom-datepicker input {
  width: 110%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  
}

.custom-datepicker input:focus {
  outline: none;
}
