

#container {
  float:right;
  width: 25%;
  height: auto;
   
}

#absolute {
  position: absolute;
 
  top: 40;
  left: 95%;
 
  width: 1%;
  height: 2%;
   
  background: red;
  border-radius: 500px;
}
  
#circle {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 1530px;
  border-radius: 500px;
  background: red;
  position: relative;
   
   
  border: 3px solid #73AD21;



}